
<nav class="py-3 flex gap-36 justify-center items-center text-white font-extrabold  bg-[#000000] text-3xl">

<% if(user){ %>
    <a href="/profile">Home</a>
    <a href="/timeline">Timeline</a>
  <%} else{ %>
    <a href="/">Home</a>
    <a href="/login">Login</a>

 <% } %>
  <a href="/About">About</a>
</nav>


