<%-include("partials/header") %>
<%-include("partials/nav") %>
<div class=" h-[100vh] w-full bg-[url('https://images.unsplash.com/photo-1562577309-4932fdd64cd1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c29jaWFsJTIwbWVkaWF8ZW58MHx8MHx8fDA%3D')] bg-no-repeat bg-cover bg-center py-36 pl-[37%] ">
<div class="h-90 w-[50%] py-24  w-70 backdrop-blur-[50px] bg-white/0.001 rounded-3xl pl-[4%]"> 
  <h1 class="text-black text-[3vw] font-extrabold drop-shadow-[10px 10px 10px rgba(0,0,0,0.25)]">This is About page</h1>
  <p class="flex gap-4  mt-10 pl-24">
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora labore aut reprehenderit repudiandae ex nihil exercitationem quia enim molestiae omnis!</p> <br> 
    <a class="p-3 ml-28 hover:bg-slate-600 hover:text-orange-200 hover:font-normal  bg-blue-950 text-white rounded-2xl" href="/login">continue suffering</a>  
  </p>
</div> 
</div>

<%-include("partials/footer") %>
